
<% if @topic.errors.any? %>
<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-danger alert-dismissable">
          <ul>
            <% @topic.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    </div>
</div>
<% end %>

<%= form_for @topic do |f| %>
<div class="row">
  <div class="panel panel-info">
    <div class="panel-heading">
      New Topic
    </div>
      <div class="panel-body">

        <p>
          Category: <%= f.select :category_id, options_for_select(Category.all.map{|s|[s.name, s.id]}) %>
        </p>
        <p>
          Fórum: <%= f.select :topic_id, options_for_select(Topic.where(topic_id: nil).map{|s|[s.name, s.id]}) %>
        </p>
        <p>
          Title: <%= f.text_field :name %>
        </p>
        <p>
          Description: <%= f.text_area :description %>
        </p>
        <p>
          Logged: <%= f.check_box :logged %>
        </p>
        <div class="actions">
          <input type="submit" class="btn btn-success" value="Salvar">
        </div>
      </div>

  </div>
</div>
<% end %>
